@import './../../styles/shared.scss';
.navigation {
  background: $mainLight-color;
  width: 260px;
  padding-top: 23px;
  padding-left: 17px;
  padding-right: 15px;
  //   border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
